/* Dashboard */
/* Logo */
.logo{
    height: 40px;
    width: 40px;
}
.companyName{
    display: flex;
    flex-direction: column;
    color: #FDC40E;
    margin-top: 0;
    font-size: 14px;
    font-family: 'Source Serif 4', sans-serif;

}
a:hover {
  
  text-decoration: none;
}
  
  /* NAVIGATION */
  nav {
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 50px 0;
   
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #1A76D1;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #aaa;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #1A76D1;
   
}
/* .navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)

} */

.navbar-light .navbar-nav .nav-link:hover{
    color: #1A76D1;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #1A76D1;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #1A76D1;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Footer  */
.page-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #1A76D1;
   color: white;
   text-align: center
}

/* About us */
.about{
    margin-top: 50px;
    
    
}

.aboutusbody {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.img{
    
    width: 100%;
}

/*Machineries */
.cards{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;
}
.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;
  padding: 10px 5px;
}

.cards:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.cards img{
  height: 250px;
  right: 15px;

}
.card img{
  height: auto;
  right: 15px;

}

.cards h3{
font-weight: 600;
}
.card-title{
  font-size: 15px;
  font-family: 'Roboto Slab', serif
}
@media(max-width: 990px){
.card{
  marginTop:20px;
}
}

/* Products */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 30px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.grid > article img {
  width: 100%;
  height: auto;
  
}

.grid .text {
  padding: 20px;
}
.list{
font-family: 'Roboto Slab', serif
}


.parallax{
  background-image: url("../Assets/bio2-748x360.png");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#header{
position: absolute;
z-index: 1000;
top: 200px;
left: 200px;
color: #FFF;
font-family: 'Bebas Neue', cursive;

}

.text-box{
height: 600px;
padding: 50px;
}
@media only screen and (max-device-width: 1024px) {
  .parallax {
      background-attachment: scroll;
     
  }
}
@media only screen and (max-device-width: 700px) {
  .parallax {
      background-attachment: scroll;
     
  }
}


@media screen and (min-device-width: 100px) and (max-device-width: 700px) { 
  #header h1{
    position: absolute;
    z-index: 1000;
    top: -100px;
    left: -150px;
width: 100% !important;

    color: #FFF;
    font-family: 'Bebas Neue', cursive;
  }
}

.dot {
  background-color: #1A76D1;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  font-size:40px;
  color: #ffffff;
 
}
.indextext{
  font-family: 'Bebas Neue', cursive;
  margin-top: 10px;
}